<!DOCTYPE html>
<html>
<head>
    <title>API Docs Kalibrr Tech</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
            href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700"
            rel="stylesheet"
    />

    <!--
      ReDoc doesn't change outer page styles
      -->
    <style>
        body {
            margin: 0;
            padding: 0;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: rgb(160, 222, 89);
            background: radial-gradient(
                    circle,
                    rgb(22, 122, 199) 60%,
                    rgb(25, 83, 171) 100%
            );
        }

        .nice-shadows {
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
            0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
            0 22.3px 17.9px rgba(0, 0, 0, 0.042),
            0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
        }

        .navigato {
            background-color: rgb(65, 105, 164);
            padding: 30px;
            font-family: "Montserrat";
            max-width: 300px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            border-radius: 10px;
            border: 1px solid #2a5062;
            border-bottom-width: 4px;
        }

        .logo {
            margin-bottom: 20px;
        }

        .apivdropdown {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>
    <script>
        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        function apivnameChange() {
            var x = document.getElementById("apivname").value;
            if (x == "" || x == null) {
                return;
            }
            window.location = "/api-version/"+x;
        }
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
<div class="navigato nice-shadows">
    <div class="logo">
        <img
                src="https://cdn.discordapp.com/attachments/799551327973146634/1014138738730872873/Logo_Kalibrr-removebg-preview.png"
                alt="Kalibrr Tech"
                width="360"
        />
    </div>
    <div class="apivdropdown">
        <span>Select API Version:&nbsp;</span>
        <select name="apivname" id="apivname" onchange="apivnameChange()">
            <option value="">---</option>
<!--            <option value="ums">User Management</option>-->
<!--            <option value="paid_vaccine">Jobseeker</option>-->
<!--            <option value="customer">Recruiter</option>-->
<!--            <option value="payment">Company</option>-->

            {{range $key, $value := .data}}
            <option value="{{$key}}">{{$value}}</option>
            {{end}}
            <!-- REPLACE WITH OPTIONS -->
        </select>
    </div>
</div>
</body>
</html>
