<html lang="en">
<head>
    <title>ReDoc</title>
    <!-- needed for adaptive design -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .navigato {
            background-color: #fafafa;
            padding: 20px;
            font-family: 'Montserrat';
        }

        .navigato a {
            text-decoration: none;
            color: #64C7CC;
            font-style: italic;
            font-weight: bold;
            font-size: 12px;
        }

        .sc-ilftOa{
            display: none;
        }
    </style>
    <!--
    ReDoc doesn't change outer page styles
    -->
</head>


<body>
<div class="navigato">
    <a onclick="location.href='/'">&larr; SELECT VERSION</a>
</div>

<redoc spec-url="gen/{{index .service}}/swagger.yaml"></redoc>
<script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script>
</body>
</html>
